<div class="container margin-all">
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-2">
            <div class="heading">List Of Products
                <button type="button" class="btn btn-secondary btn-lg float-end" (click)="addProduct()">Add
                    Product</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12"
            *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: p }">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{product.productName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Category - {{product.category}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Price - {{product.price}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Rating - {{product.rating}}</h6>
                    <p class="card-text">
                        Description - {{product.description}}
                    </p>
                    <button type="button" class="btn btn-primary btn-sm float-start"
                        (click)="updateProduct(product)">Edit</button>
                    <button type="button" class="btn btn-primary btn-sm float-end"
                        (click)="deleteProduct(product)">Delete</button>
                </div>
            </div>

        </div>
        <div class="col-md-12 col-sm-12">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

</div>

<!-- Modal For Adding/Updating a Product -->
<div class="modal" id="myModal" [style.display]="openProductModal ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <h3>{{title}}</h3>
                </h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeProductModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="productForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name"
                            formControlName="name">

                    </div>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="number" class="form-control" id="rating" formControlName="rating">

                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <input type="text" class="form-control" id="category" formControlName="category">

                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" formControlName="price">

                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" formControlName="description">
                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeProductModal()">Close</button>
                <button type="button" (click)="onFormSubmit()" class="btn btn-primary"
                    [disabled]="!productForm.valid">Save changes</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal For Adding/Updating a Product -->
<div class="modal" id="myModal" [style.display]="openDeleteModal ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <h3>Delete Product</h3>
                </h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeDeleteModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Are you sure you want to delete this product?</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeDeleteModal()">Close</button>
                <button type="button" (click)="deleteProductFinal()" class="btn btn-primary">Delete</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal to display success/warning messages -->
<div class="modal" id="myModal" [style.display]="openMessageModal ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <h3>Message</h3>
                </h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeMessageModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>{{displayMessage}}</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeMessageModal()">Close</button>

            </div>

        </div>
    </div>
</div>